body{
	background-color: #f0f0f5;
}
h1, h3{
	text-align: center;
	color: #660000;
}
.rodape{
	text-align: center;
}
img{
	width: 550px;
	height: 300px;
}

.imageCorrespondente{
	width: 170px;
	height: 300px;
	position: absolute;
	
}

ul{
	list-style-type: square;
}